@media (max-width: 910px) {
  .container-nav {
    margin: 0;
  }

  #menu {
  padding: 0.8em 0;
  display: none;
  z-index: -1;
  position: fixed;
  right: 0;
  width: 100%;
  min-height: 35vh;
  top: 4em;
  background: var(--green-nav);
  display: flex;
  text-align: center;
  transition: top .4s;
  border-bottom: 3px solid var(--green);
}

#menu > a {
  display: block;
}

.nav-links  {
    margin-top: 0;
    z-index: 1;
    overflow: hidden;
    position: relative;
  }

  .nav-links  > a {
    color: var(--brown);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .hamburger {
    display: block;
    position: absolute;
    left: 1em;
    top: 0.7em;
  }

  .for-hover:hover  {
    width: 4em;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--green-nav);
  }

  .nav-links  > a:hover {
    background-color: var(--green-nav);
    color: var(--pink);
  }

  .banner-left > h1 {
    font-size: 6vw;
    font-weight: 700;
  }

  .banner-left > p {
    font-size: 3vw;
  }
}

@media (max-width: 730px){
  .bc-color {
    padding: 20vh 5vh;
    font-size: 3vw;
  }

  .banner {
    height: 35vh;
    background-image: url("food-smaller.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .small-menu {
    margin-top: -4em;
  }

  h1 {
    color: var(--green);
  }

  #menu {
    background-color: var(--green-nav);
  }

  .nav-links  {
    background-color: var(--green-nav);
  }

  .nav-links  > a {
    background-color: var(--green-nav);
  }

  .nav-links  > a:hover {
    background-color: var(--green-nav);
    color: var(--pink);
  }

  .nav-links  > a:active {
    background-color: var(--green-nav);
    color: var(--pink);
  }

  .hamburger {
    background-color: var(--green-nav);
  }
}

@media (max-width: 620px){
  .bc-color {
    padding: 20vh 5vh;
    font-size: 3.5vw;
  }

  .banner-right > img{
  height: 60vw;
  }

  .restorants-list {
    flex-direction: column;
  }

  .restorant {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .image-center {
    align-items: center;
    margin-right: 1em;
  }

  .flex-item {
    padding: 2em;
  }

  .banner {
    height: 35vh;
    background-image: url("food-small.jpg");
    position: relative;
    background-repeat: no-repeat;
  }

}

@media (max-width: 400px){
  .bc-color {
    padding: 20vh 5vh;
    font-size: 4vw;
  }

  .btn-add-ravintola {
    border: none;
    cursor: pointer;
    margin-left: 3em;
    margin-bottom: 3em;
    margin-right: 1em;
    background-color: transparent;
  }

  .banner {
    height: 35vh;
    background-image: url("food-small.jpg");
    position: relative;
    background-repeat: no-repeat;
  }
}
