@media (max-width: 910px) {
  .container-nav {
    margin: 0;
  }

  #menu {
  padding: 0.8em 0;
  display: none;
  z-index: -1;
  position: fixed;
  right: 0;
  width: 100%;
  min-height: 35vh;
  top: 4em;
  background: var(--less-lighter);
  display: inline-block;
  text-align: center;
  transition: top .4s;
}

  nav {
    margin-top: 0;
    z-index: 1;
    overflow: hidden;
    position: relative;
  }

  nav a {
    color: var(--brown);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .hamburger {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  nav a:hover {
    background-color: white;
    color: var(--pink);
  }

}
