@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');*/

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url(/assets/Lato-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url(/assets/Lato-Regular.ttf);
  font-display: swap;
}

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Käytetyt värit */
  --white: white;
  --lighter: hsla(0, 0%, 100%, 0.589);
  --less-lighter: hsla(0, 0%, 100%, 0.904);
  --green: #1CAB28;
  --green-nav: #77D786;
  --brown: #940E3F;
  --dark-gray:#343A40;
  --light-gray: #9BADBF;
  --black: #000000;
  /* Lisävärit */
  --dark-green: #1D9426;
  --light-green: #65FF71;
  --pink:#E0437C;
  /* fonts*/
  --roboto: 'Roboto Slab', serif;
  --lato: 'Lato', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  font-family: var(--lato);
}

.container-nav {
  display: flex;
  margin: 0em 3em;
}

nav {
  margin-top: 1.2em;
  display: flex;
  flex: 1;
  color: var(--brown);
}

.hamburger {
  display: hide;
  color: transparent;
  font-size: 1.3em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-top: 0.3em;
  font-size: 1em;
}

#menu {
  display: inline-flex;;
  flex: 1;
}

#menu > a {
  padding: 0.7em;
  font-size: 1.3em;
  font-family: var(--lato);
  font-weight: 700;
  text-decoration-line: none;
}

#menu > a:hover {
  color: var(--pink);
  background-color: var(--lighter);
  border-radius: 5px;
}

a {
  color: var(--brown);
}

a:visited {
  color: var(--brown);
}

.search {
  position: relative;
  display: flex;
}

.search > input {
  padding: 0.5em;
  padding-left: 2em;
  margin: 0.9em;
  border: 1px solid var(--brown);
  border-radius: 7px;
  background-color: transparent;
  max-width:12.9em;
  font-size: 1em;
  max-height: 2.2em;
}

::placeholder {
  color: var(--dark-gray);
}

.search svg {
  position: absolute;
  top: 1.4em;
  right: 12em;
  max-width: 1.3em;
  fill: var(--brown);
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .search svg{right:12em;}
}

.banner {
  display: flex;
  max-height: 300px;
  height: 35vh;
  background-color: var(--green);
  align-items: center;
  overflow: hidden;
}

.banner-left {
  display: flex;
  flex: 1;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--roboto);
}

.banner-left > p:first-child {
  font-size: 3.75em;
  font-weight: 700;
}

.banner-left > p:nth-of-type(2){
  font-size: 1.4375em;
}

.banner-right {
  display: flex;
  flex: 1.5;
  overflow: hidden;
}


.banner-right > img{
  height: 40vw;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  transform: rotate(180deg);
  transform: scaleX(-1);
}

.clear { clear: both; }

#container-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro {
  font-family: var(--roboto);
  margin: 2em;
  width: 38em;
  max-width: 100%;
  text-align: center;
  line-height: 1.6;
  font-size: 1.4375em;
}

.restorants-list {
  max-width: 100%;
  display: flex;
  flex: 1 25%;
  flex-wrap: wrap;
}

.restorant {
  max-width: 100%;
  display: flex;
  flex: 1;
  width: 35em;
  min-height: 21em;
  border: 2px dashed var(--brown);
  margin: 2em;
  margin-top: 0;
  border-radius: 12px;
  background-color: var(--gray);
}

.flex-item {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.flex-item > img {
  padding: 1em;
  padding-right: 0;
  width: 10em;
  height: auto;
}

.flex-item:nth-of-type(1) { flex-grow: 1; }
.flex-item:nth-of-type(2) { flex-grow: 4; }

.location {
  display: flex;
  position: relative;
  margin-bottom: 1em;
  justify-content: space-between;
}

h2 {
  font-size: 1.4em;
  font-family: var(--lato);
  font-weight: 700;
}

.separate > svg {
  margin-left: 0em;
  position: absolute;
  top: 0.125em;
  right: 4em;
  width: 1.5em;
  fill: var(--black);
}

.separate > svg:hover {
  fill: var(--light-green);
  width: 1.5em;
}

.small-menu {
  margin-bottom: 1.8em;
}

.small-menu > button {
  height: 3em;
  background-color: var(--dark-gray);
  border-radius: 5px;
  font-weight: 400;
  color: var(--white);
  font-size: 0.7em;
  padding: 5px;
  border: 2px solid var(--dark-gray);
  cursor: pointer;
  margin: 10px;
}

.small-menu > button:hover {
  background-color: #696e72;
  border: 2px solid #696e72;
}

.language, #sort-menu {
  width: 3em;
}

.random {
  width: 8em;
}

.add-new-restorant {
  display: flex;
}

.btn-add-ravintola {
  border: none;
  cursor: pointer;
  margin-left: 6em;
  margin-bottom: 3em;
  margin-right: 1em;
  background-color: transparent;
}

.btn-add-ravintola > svg {
  width: 3em;
  fill: var(--dark-gray);
}

.btn-add-ravintola > svg:hover, .btn-add-ravintola > svg:active {
  width: 3em;
  fill: var(--pink);
}

.add-ravintola-text {
  font-size: 1.5em;
}

.bc-color {
  padding-top: 20vh;
  padding-bottom: 20vh;
  background-color: rgba(255, 255, 255, 0.774);
  font-size: 2.7vw;
}

@media (max-width: 910px) {
  .container-nav {
    margin: 0;
  }

  #menu {
  padding: 0.8em 0;
  display: none;
  z-index: -1;
  position: fixed;
  right: 0;
  width: 100%;
  min-height: 35vh;
  top: 4em;
  background: var(--green-nav);
  display: flex;
  text-align: center;
  transition: top .4s;
  border-bottom: 2px solid var(--brown);
}

#menu > a {
  display: block;
}

  nav {
    margin-top: 0;
    z-index: 1;
    overflow: hidden;
    position: relative;
  }

  nav > a {
    color: var(--brown);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .hamburger {
    display: block;
    position: absolute;
    left: 1em;
    top: 0.7em;
  }

  .for-hover:hover  {
    width: 4em;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--green-nav);
  }

  nav > a:hover {
    background-color: var(--green-nav);
    color: var(--pink);
  }

  .banner-left > h1 {
    font-size: 6vw;
    font-weight: 700;
  }

  .banner-left > p {
    font-size: 3vw;
  }

}





