* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
}

nav {
  display: flex;
  flex-direction: row;
  margin: 0.3em 3em;
  color: brown;
  flex-wrap: wrap;
  justify-content: center;
}

nav > ul {
  display: flex;
  flex: 1;
  list-style-type: none;
}

.menu {
  display: flex;
  flex: 70%;
}
.menu > li {
  padding: 0.7em;
  font-size: 1.4em;
}

.search {
  position: relative;
  display: flex;
}

.search > input {
  padding: 0.5em;
  padding-left: 1.7em;
  margin: 0.9em;
  border: 1px solid brown;
  border-radius: 7px;
  background-color: transparent;
  min-width: 20vh;
  width: 100%;
  font-size: 1em;
}

.search i {
  position: absolute;
  top: 25px;
  right: 225px;
}

.banner {
  display: flex;
  flex: 1;
  height: 30vh;
  background-color: rgb(4, 214, 4);
}

.banner-left {
  display: flex;
  flex: 1;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-text {
  font-size: 2em;
  font-weight: 700;
}

.banner-right {
  display: flex;
  flex: 1.5;
  overflow: hidden;
}


.banner-right > img{
  height: 40vw;
  object-fit: cover;
  clip-path: polygon(0 100%, 100% 0, 0 0);
  transform: rotate(180deg);
  transform: scaleX(-1);
}

.clear { clear: both; }

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro {
  margin: 2em;
  width: 38em;
  text-align: center;
  line-height: 1.6;
}

.restorants-list {
  display: flex;
  flex-wrap: wrap;
}

.restorant {
  display: flex;
  width: 30em;
  height: 15em;
  border: 1px dashed brown;
  margin: 3em;
  margin-top: 0;
  border-radius: 12px;
  flex-direction: column;
  padding: 1em;
}

.restorant > ul {
  list-style-type: none;
  padding-top: 1em;
}

.restorant > li {
  font-size: 1em;
}

.triangle-bottom {
  width: 0;
  height: 0;
  border-bottom: 200px solid rgb(4, 214, 4);
  border-right: 200px solid transparent;
}

.triangle-top {
  width: 0;
  height: 0;
  border-top: 200px solid rgb(214, 4, 214);
  border-left: 200px solid transparent;
}

button {
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 400;
  color: #005C7A;
  font-size: 0.7em;
  padding: 5px;
  border: 2px solid #005C7A;
  cursor: pointer;
  margin: 10px;
}

.language, #sort-menu {
  width: 3em;
}

.random {
  width: 8em;
}
